/*COLOR*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 15px;
}

body {
  font-family: monospace;
}

.menu {
  padding: 20px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}
.menu__items a {
  text-decoration: none;
  text-transform: uppercase;
}
.menu__logo {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.menu__nav {
  display: inline-block;
  text-align: right;
}

.menu__item-1 a {
  text-decoration: none;
  text-transform: uppercase;
}

.menu_item-2 {
  display: inline-block;
}

.menu_item-3 {
  display: inline-block;
}

.menu_item-1 {
  display: inline-block;
}

.input-menu {
  border-radius: 30px;
}

@media screen and (max-width: 992px) {
  .menu__item1 {
    display: none;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 50px;
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-lx-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
.footer {
  margin: 20px;
  text-align: center;
}

.seccion-central {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
}

.aside {
  display: block;
}

.aside__cabecera {
  padding-bottom: 1.5rem;
}
.aside__cabecera h1 {
  padding-bottom: 1.5rem;
}
.aside__cabecera hr {
  margin-top: 1rem;
}

.aside__tags {
  padding-bottom: 1.5rem;
}
.aside__tags ul li {
  padding: 2px 4px;
  background-color: steelblue;
  margin-right: 1px;
  color: white;
  display: inline-block;
  margin-top: 1.5rem;
}

.aside__item {
  padding-bottom: 1.5rem;
}

.aside__noticias-destacadas h1 {
  padding-bottom: 1.5rem;
}
.aside__noticias-destacadas img {
  width: 272px;
}
.aside__noticias-destacadas h4 {
  padding-bottom: 1.2rem;
}

.noticia__cuerpo img {
  width: 100%;
}

.noticia__cabecera {
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .seccion-central {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100vw;
  }

  .aside {
    display: none;
  }

  .row {
    grid-gap: 10px;
  }

  .noticia__cabecera {
    padding: 20px;
  }

  .menu_item-1 {
    display: none;
  }
}
@media (max-width: 576px) {
  .row {
    grid-gap: 0px;
  }

  .noticia__cuerpo img {
    height: 220px;
    width: 100%;
  }
}
.newsletter {
  background-color: #f2f4f5;
  text-align: center;
  margin-top: 2rem;
  padding-top: 20px;
  padding-bottom: 30px;
}
.newsletter h2 {
  font-size: 24px;
  padding-bottom: 1.5rem;
}

.newsletter__text {
  padding-bottom: 1.5rem;
}

.newsletter__group input,
.newsletter__group button {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
}

.newsletter__group button {
  background-color: coral;
  color: white;
}

/*# sourceMappingURL=style.css.map */
